<!DOCTYPE html>
<html dir="ltr" loc="hu">
<head>
	<meta charset="utf-8">
	<title>Sent Messages</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
	<div class="container-fluid">
	<h1 style=" margin: auto; width: 90%; padding: 10px;">Write on the message board!</h1>
</div>
 <div class="container-fluidopaque-message">
                <table style=" margin: auto; ">
                    <th>ID</th>
                    <th>Message</th>
                    <th>Shown</th>
                    <th>Sender IP</th>
                    {% for message in messages %}
                    <tr>
                    
                            <td>{{ message.id }}</td>
                            <td>{{ message.message }}</td>
                            <td>{{ message.shown }}</td>
                            <td>{{ message.origin }}</td>
                        </form>
                    </tr>
                    {% endfor %}
                </table>
        </div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>